{% extends 'base.html' %}
{% block body %}
<div class=" mt-16 mx-8 flex flex-col justify-start">
	<div class="text-2xl font-bold">
		Cardiff University
	</div>
	<div class="py-1 px-6">
		<h2 class="font-semibold">
			MSc in Data Journalism (2022-23)
		</h2>
		
	</div>
	<div class="flex gap-4 items-center">
		<span class="text-violet-600">Technologies:</span>
		<div class="flex gap-2 items-center">
			<div class="px-2 py-1 bg-violet-600 text-white rounded">
				JavaScript
			</div>
			<div class="px-2 py-1 bg-violet-600 text-white rounded">
				Python
			</div>
			<div class="px-2 py-1 bg-violet-600 text-white rounded">
				Selenium
			</div>
			<div class="px-2 py-1 bg-violet-600 text-white rounded">
				Pandas
			</div>
			<div class="px-2 py-1 bg-violet-600 text-white rounded">
				Web Scraping
			</div>
		</div> 
	</div>
</div>

{% endblock body %}