{% extends 'base.html' %} {% block body %}
<div
  class="container flex flex-row flex-wrap justify-center lg:justify-between"
>
  <div
    class="card m-3 w-96 bg-base-500 shadow-xl flex flex-col items-center justify-center border-slate-600"
  >
    <div
      class="container h-3/4 w-3/4 flex flex-row items-center justify-center"
    >
      <div class="p-3 h-1/2 w-1/2 mb-4">
        <img src="static/js.png" alt="js" />
      </div>
    </div>

    <div class="card-body items-center text-center">
      <h2 class="card-title font-bold text-lg p-2">JavaScript</h2>
      <p class="m-2">A High Level Programming Language for Web Programming</p>
      <div class="card-actions p-2">
        <button class="btn btn-primary p-2 rounded bg-violet-400 text-white">
          See Projects
        </button>
      </div>
    </div>
  </div>
  <div
    class="card m-3 w-96 bg-base-500 shadow-xl flex flex-col items-center justify-center border-slate-600"
  >
    <div
      class="container h-3/4 w-3/4 flex flex-row items-center justify-center"
    >
      <div class="p-3 h-1/2 w-1/2 mb-4">
        <img src="static/python.png" alt="python" />
      </div>
    </div>

    <div class="card-body items-center text-center">
      <h2 class="card-title font-bold text-lg p-2">Python</h2>
      <p class="m-2">
        A Versatile Language to deal with data and interpretations
      </p>
      <div class="card-actions p-2">
        <button class="btn btn-primary p-2 rounded bg-violet-400 text-white">
          See Projects
        </button>
      </div>
    </div>
  </div>
  <div
    class="card m-3 w-96 bg-base-500 shadow-xl flex flex-col items-center justify-center border-slate-600"
  >
    <div
      class="container h-3/4 w-3/4 flex flex-row items-center justify-center"
    >
      <div class="p-3 mb-4">
        <img src="static/pandas.png" alt="pandas" />
      </div>
    </div>

    <div class="card-body items-center text-center">
      <h2 class="card-title font-bold text-lg p-2">Pandas</h2>
      <p class="m-2">A Powerful Python Library for interpreting data-sets</p>
      <div class="card-actions p-2">
        <button class="btn btn-primary p-2 rounded bg-violet-400 text-white">
          See Projects
        </button>
      </div>
    </div>
  </div>
  <div
    class="card m-3 w-96 bg-base-500 shadow-xl flex flex-col items-center justify-center border-slate-600"
  >
    <div
      class="container h-3/4 w-3/4 flex flex-row items-center justify-center"
    >
      <div class="container p-3 h-1/2 w-1/2 mb-4">
        <img src="static/selenium.png" alt="selenium" />
      </div>
    </div>

    <div class="card-body items-center text-center">
      <h2 class="card-title font-bold text-lg p-2">Selenium</h2>
      <p class="m-2">A Powerful Library for automation.</p>
      <div class="card-actions p-2">
        <button class="btn btn-primary p-2 rounded bg-violet-400 text-white">
          See Projects
        </button>
      </div>
    </div>
  </div>
  <div
    class="card m-3 w-96 bg-base-500 shadow-xl flex flex-col items-center justify-center border-slate-600"
  >
    <div
      class="container h-3/4 w-3/4 flex flex-row items-center justify-center"
    >
      <div class="p-3 h-1/2 w-1/2 mb-4">
        <img src="static/web_scraping.png" alt="web-scraping" />
      </div>
    </div>

    <div class="card-body items-center text-center">
      <h2 class="card-title font-bold text-lg p-2">Web Scraping</h2>
      <p class="m-2">A needed skill for collecting data from internet</p>
      <div class="card-actions p-2">
        <button class="btn btn-primary p-2 rounded bg-violet-400 text-white">
          See Projects
        </button>
      </div>
    </div>
  </div>
  <div
    class="card m-3 w-96 bg-base-500 shadow-xl flex flex-col items-center justify-center border-slate-600"
  >
    <div
      class="container h-3/4 w-3/4 flex flex-row items-center justify-center"
    >
      <div class="p-3 h-3/4 mb-4">
        <img src="static/sheets.png" alt="sheets" />
      </div>
    </div>

    <div class="card-body items-center text-center">
      <h2 class="card-title font-bold text-lg p-2">Google Sheets & Excel</h2>
      <p class="m-2">Great Tools for Data Visualisatons.</p>
      <div class="card-actions p-2">
        <button class="btn btn-primary p-2 rounded bg-violet-400 text-white">
          See Projects
        </button>
      </div>
    </div>
  </div>
  <div
    class="card m-3 w-96 bg-base-500 shadow-xl flex flex-col items-center justify-center border-slate-600"
  >
    <div
      class="container h-3/4 w-3/4 flex flex-row items-center justify-center"
    >
      <div class="p-3 h-3/4 mb-4">
        <img src="static/api.png" alt="api" />
      </div>
    </div>

    <div class="card-body items-center text-center">
      <h2 class="card-title font-bold text-lg p-2">APIs</h2>
      <p class="m-2">Handling APIs</p>
      <div class="card-actions p-2">
        <button class="btn btn-primary p-2 rounded bg-violet-400 text-white">
          See Projects
        </button>
      </div>
    </div>
  </div>
  <div
    class="card m-3 w-96 bg-base-500 shadow-xl flex flex-col items-center justify-center border-slate-600"
  >
    <div
      class="container h-3/4 w-3/4 flex flex-row items-center justify-center"
    >
      <div class="p-3 h-3/4 mb-4">
        <img src="static/geojson.png" alt="geojson" />
      </div>
    </div>

    <div class="card-body items-center text-center">
      <h2 class="card-title font-bold text-lg p-2">GeoJSON</h2>
      <p class="m-2">Handling JSON data for Geospatials results</p>
      <div class="card-actions p-2">
        <button class="btn btn-primary p-2 rounded bg-violet-400 text-white">
          See Projects
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
